*{
    box-sizing: border-box;
    margin: 5px;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.container{
    width: 50%;
    background-color: lightgray;
    padding: 50x 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: auto;
    
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
fieldset{
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 10px;
}

.heading{
    text-align: center;
}
input[type="submit"]{
    background-color: rgb(230, 41, 16);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: rgb(32, 22, 165);
}

h1{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width:1000px )  and (min-width:10px)
{
    .container{
        width: 90%;
    }
}

